////
/// @group v0.0.1
////

/// Utility class for `display: block`
.display-block {
	display: block;
}
/// Utility class for `display: flex`
.display-flex {
	display: flex;
}
/// Utility class for `display: inline`
.display-inline {
	display: inline;
}
/// Utility class for `display: inline-block`
.display-inline-block {
	display: inline-block;
}
/// Utility class for `display: inline-flex`
.display-inline-flex {
	display: inline-flex;
}
/// Utility class for `display: none`
.display-none {
	display: none;
}

/// Utility class for responsive images
.img-fluid {
	max-width: 100%;
	height: auto;
}

/// Utility class for `text-align: center`
.text-center {
	text-align: center;
}
/// Utility class for `text-align: left`
.text-left {
	text-align: left;
}
/// Utility class for `text-align: right`
.text-right {
	text-align: right;
}
/// Utility class for `@include text-truncate`
.text-truncate {
	@include text-truncate;
}
/// Utility class for `text-transform: lowercase`
.text-lowercase {
  text-transform: lowercase;
}
/// Utility class for `text-transform: uppercase`
.text-uppercase {
  text-transform: uppercase;
}
