////
/// @group v0.0.1
////

/// Small width variable
/// @type length
$sm-width: 576px;
/// Medium width variable
/// @type length
$md-width: 768px;
/// Large width variable
/// @type length
$lg-width: 992px;
/// Extra Large width variable
/// @type length
$xl-width: 1200px;